{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="public/assets/css/panier.css">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="bg-success py-5">
        <div class="col-md-6 m-auto text-center">
            <h1>Votre panier</h1> 
        </div>
    </div>
    <form action="CommandeController" method="POST">
          <br><br>
            {% if not dataPanierArticle is empty %}            
               <div class="col-md-6 m-auto text-center"><h3 class="w-50 mx-auto border-bottom text-primary">Articles</h3></div> 
<br>
            <table class="table">
            <thead>
                <tr class="align-middle text-center">
                    <th class="col-3">Image</th>
                    <th class="col-3">Article</th>
                    <th>Prix</th>
                    <th class="col-1">Quantité</th>
                    <th>Total</th>
                    <th class="col-3">Action</th>
                </tr>
            </thead>
        
            <tbody>
             {% for element in dataPanierArticle %}
                    <tr class="align-middle text-center">
                        <td class="col-2"><img class="col-4" src="/assets/img_article_directory/{{ element.article.getImgArticle }}" alt="{{ element.article.getNomArticle }}"></img></td>
                        <td>{{ element.article.getNomArticle }}</td>
                        <td>{{ (element.article.getPrixArticle )|number_format(2, '.', ' ')}}</td>
                        <td>{{ element.quantite }}</td>
                        <td>{{ (element.article.getPrixArticle ) * element.quantite }} €</td>
                        <td><a href="{{path("cart_add_article", {id: element.article.id})}}" class="btn btn-success"><i class="bi bi-plus-circle"></i></a>
                        <a href="{{path("cart_remove_article", {id: element.article.id})}}" class="btn btn-warning"><i class="bi bi-dash-circle"></i></a></a>
                        <a href="{{path("cart_delete_one_article", {id: element.article.id})}}" class="btn btn-danger"><i class="bi bi-trash3"></i></a></td>
                    </tr>
            </tbody>
      
            {% endfor %} 
            </table>
            {% endif %}

            <br>
            {% if not dataPanierArticle is empty and not dataPanierPrestation is empty %}
                    
                <div class="bg-info shadow p-1 mb-2 w-50 mx-auto border-bottom"></div>
            {% endif %}

            <br>
            {# ****************************      TABLE PRESTATION        ***************************** #}
            {% if not dataPanierPrestation is empty %}
               <div class="col-md-6 m-auto text-center"><h3 class="w-50 mx-auto border-bottom text-primary">Prestations</h3></div> 
               <br>
            <table class="table">
            <thead>
                <tr class="text-center">
                    
                    <th class="col-4">Article</th>
                    <th>Prix</th>
                    <th class="col-1">Quantité</th>
                    <th class="col-3">Rendez-vous</th>
                    <th class="col-2">Statut</th>
                    <th class="col-3">Action</th>
                </tr>
            </thead>
            <tbody>
                {# ********************      BOUCLE PRESTATION #}
               <!-- Affichage de la liste des prestations -->
                {% for element in dataPanierPrestation|merge(dataPanierRendezVous) %}
                    {% if element.date_rdv is defined %}
                        {% if element.statut is defined %}
                            <tbody>
                                <tr class="text-center">
                                    <td class="col-3"><img class="col-3" src="/assets/img_prestation_directory/{{ element.prestation.getImgPrestation }}" alt="{{ element.prestation.getImgPrestation }}"></img>{{ element.prestation.getDescriptionPrestation }}</td>
                                    <td>{{ (element.prestation.getPrixPrestation )|number_format(2, '.', ' ')}}</td>
                                    <td>1</td>
                                    <td>Rdv le : {{ element.date_rdv|date('d/m/Y H:i') }}</td>
                                    <td>Statut : {{ element.statut }}</td>
                                    <td><a href="{{path("cart_delete_one_prestation", {id: element.prestation.id})}}" class="btn btn-danger"><i class="bi bi-trash3"></i></a></td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endif %}
                {% endfor %}


                {% endif %}
                {% if dataPanierArticle is empty and dataPanierPrestation is empty %}
                    
		            <h3 class="empty-cart text-center align-middle">Votre panier est vide. <span style="font-size: 24px">&#x1F972;</span>
</h3>
                {% endif %}
            <tbody>
           </table>


            <table class="table">
                <tr class="text-end">
            {% if total != 0 %}
                    <td class="text-end">Total Commande: {{ total }} €</td>
            {% endif %}
                    <td class="col-4">{% if total %}<a href="{{path("commander_index")}}" class="btn btn-primary col-5" name="commander">Commander</a>
                    <a href="{{path("cart_delete_all")}}" class="btn btn-danger"><i class="bi bi-trash"></i></a>{% endif %}</td>
                </tr>
            </table>
    </form>
</div>

                {% set item_count = itemCount %} 
{% endblock %}
