{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<form method="post" class="container col-5 p-3 card center-element m-5 mx-auto">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-1 card-text">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-1 font-weight-normal card-title">Veuillez vous authentifier</h1>
    <label for="inputEmail" class="mt-2">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2 w-100" autocomplete="email" required autofocus>
    <label for="inputPassword" class="mt-4">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control mt-2 w-100" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    
        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}

        <div class="checkbox p-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
   

   <span class="col-12 fs-6" id="register"><button class="btn btn-lg btn-primary col-sm-5 col-lg-5 fs-6" type="submit">
         Se connecter 
    </button> Pas de compte? <a href="/register" class="fs-6 text-decoration-none"> Inscrivez-vous. </a></span>
</form>

{% endblock %}
