{% extends 'base.html.twig' %}


{% block title %} {{ title }} {% endblock %}


{% block body %}

{% for flash_error in app.flashes('verify_email_error') %}

    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>

{% endfor %}

    <div class="center-element p-5">
        <section class="container col-6">
            <div class="row mt-2">
                <div class="col mt-3">
    
            <h4>Inscription</h4>
            
                <fieldset class="my-3">
                    <legend>Remplissez les champs</legend>
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.nom_utilisateur) }}
                    {{ form_row(registrationForm.email) }}
                   
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
                     <div class="mt-3"></div>
                    <span>
                        {{ form_row(registrationForm.conditions, {
                            label: 'En cochant cette case, j\'accepte les conditions d\'utilisation du site'
                        }) }}
                    </span>
                </fieldset>
            <div class="text-center col-12 mt-3 p-1" role="alert">
                    <button type="submit" class="btn alert alert-danger col-3 center-element">S'inscrire</button>
                    {{ form_end(registrationForm) }}
            </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
