{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}



<!-- Start Banner Hero -->
<section>
    <main>
        <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="assets/img_accueil/image_accueil_5.png" alt="image clim accueil 1">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left align-self-center">
                                    <h1 class="h1 text-success"><b>Climair</b></h1><br>
                                    <p class="fs-1 fs-sm-1 d-none d-md-inline"><b>Vente et installation de Climatisation</b></p><br>
                                    <p class="fs-1 fs-sm-1 d-none d-md-inline">Professionnel en froid et climatisation depuis 2020</p>
                                    <p class="fs-1 fs-sm-1 d-inline d-md-none">Depuis 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="assets/img_accueil/image_accueil_2.png" alt="image clim accueil 2">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left">
                                    <h2 class="fs-1 fs-sm-2 text-break">Des gammes complètes</h2>
                                    <h3 class="h2 fs-1 fs-sm-1 d-none d-md-inline">Trouvez les produits correspondants à vos besoin</h3>
                                    <a href="/boutique">Visitez notre boutique</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="assets/img_accueil/image_accueil_6.png" alt="image clim accueil 3">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left">
                                    <h2 class="fs-1 fs-sm-2 text-break d-none d-md-inline">Des professionnel à votre service</h2>
                                    <h2 class="fs-1 fs-sm-2 text-break d-inline d-md-none">Des pros à votre service</h2>
                                    <h3 class="h2 fs-1 fs-sm-1 d-none d-md-inline">Devis - Installation - Dépannage </h3>
                                    <p>
                                        <a href="/prestations" class="d-none d-md-inline">Prenez rendez-vous maintenant avec un professionnel</a>
                                        <a href="/prestations" class="d-inline d-md-none">Prendre rendez-vous</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </main>
</section>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h2 class="fs-1 fs-sm-2 text-break">Des marques éprouvées</h2>
            <p>
                Les marques avec lesquelles nous travaillons sont des leaders de confiance sur le marché depuis des années.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <img src="assets/img_accueil/climatiseur_mitsu_accueil.jpeg" class="rounded-circle img-fluid border" alt="images catégories samsung">
            <h5 class="text-center mt-3 mb-3">Mitsubishi</h5>
            <p class="text-center"><a href="{{path('article_index', {id: 100})}}" class="btn btn-success">Voir l'article</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <img src="assets/img_accueil/climatiseur-atlantic-r32-accueil.jpeg" class="rounded-circle img-fluid border" alt="images catégories Mitsubishi">
            <h2 class="h5 text-center mt-3 mb-3">Atlantic</h2>
            <p class="text-center"><a href="{{path('article_index', {id: 121})}}" class="btn btn-success">Voir l'article</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <img src="assets/img_accueil/monosplit_airwell_accueil.jpeg" class="rounded-circle img-fluid border" alt="images catégories Fujitsu">
            <h2 class="h5 text-center mt-3 mb-3">Airwell</h2>
            <p class="text-center"><a href="{{path('article_index', {id: 140})}}" class="btn btn-success">Voir l'article</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h2 class="fs-1 fs-sm-2 text-break">Nos compétences</h2>
                <p>
                    Nous avons à coeur de vous offrir les meilleurs services et les meilleurs produits au meilleur prix! 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <img src="assets/img_accueil/clim_portable.jpeg" class="card-img-top" alt="clim_portable">
                    <div class="card-body">
                        <p class="h2 text-decoration-none text-dark card-text">Tous les types de climatisation. <br>
                            Trouvez toutes les réponses à vos besoins
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">    
                    <img src="assets/img_accueil/groupe_externe_mitsu.jpeg" class="card-img-top" alt="groupe_externe_mitsu">
                    <div class="card-body">
                        <p class="h2 text-decoration-none text-dark">Des installations sur-mesure. <br>
                            Nous nous adaptons à vous.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                        <img src="assets/img_accueil/cassette_interieure.jpeg" class="card-img-top" alt="Cassette clim intérieure">
                    <div class="card-body">
                        <p class="h2 text-decoration-none text-dark card-text">Un travail propre et soigné. <br> Ayez l'esprit tranquille, nous travaillons proprement et professionnellement
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->
    <!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h2 class="fs-1 fs-sm-2 text-break">Nos partenaires</h2>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="fs-1 fs-sm-2 text-break" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4 p-md-6">
                                            <a href="{{path("boutique_select", {id: 1})}}" target="_blank"><img class="img-fluid brand-img" src="/assets/img/airwell-logo.png" alt="Logo Airwell"></a>
                                        </div>
                                        <div class="col-4 p-md-6">
                                            <a href="{{path("boutique_select", {id: 5})}}" target="_blank"><img class="img-fluid brand-img" src="/assets/img/logo-Atlantic.png" alt="Logo Atlantic"></a>
                                        </div>
                                        <div class="col-4 p-md-6">
                                            <a href="{{path("boutique_select", {id: 10})}}" target="_blank"><img class="img-fluid brand-img" src="/assets/img/Mitsubishi-logo.png" alt="Logo Mitsubishi"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4 p-md-6">
                                            <a href="{{path("boutique_select", {id: 1})}}"><img class="img-fluid brand-img" src="/assets/img/airwell-logo.png" alt="Logo Airwell"></a>
                                        </div>
                                        <div class="col-4 p-md-6">
                                            <a href="{{path("boutique_select", {id: 5})}}"><img class="img-fluid brand-img" src="/assets/img/logo-Atlantic.png" alt="Logo Atlantic"></a>
                                        </div>
                                        <div class="col-4 p-md-6">
                                            <a href="{{path("boutique_select", {id: 10})}}"><img class="img-fluid brand-img" src="/assets/img/Mitsubishi-logo.png" alt="Logo Mitsubishi"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4 p-md-6">
                                            <a href="{{path("boutique_select", {id: 1})}}"><img class="img-fluid brand-img" src="/assets/img/airwell-logo.png" alt="Logo Airwell"></a>
                                        </div>
                                        <div class="col-4 p-md-6">
                                            <a href="{{path("boutique_select", {id: 5})}}"><img class="img-fluid brand-img" src="/assets/img/logo-Atlantic.png" alt="Logo Atlantic"></a>
                                        </div>
                                        <div class="col-4 p-md-6 center-element">
                                            <a href="{{path("boutique_select", {id: 10})}}"><img class="img-fluid brand-img" src="/assets/img/Mitsubishi-logo.png" alt="Logo Mitsubishi"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="fs-1 fs-sm-2 text-break" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>

<!--End Brands-->
{% endblock %}
