{% extends 'base.html.twig' %}

{% block content %}
    <h1>Résultats de la recherche pour "{{ search }}"</h1>

    <h2>Articles</h2>
    {% if articles is empty %}
        <p>Aucun article trouvé.</p>
    {% else %}
        <ul>
        {% for article in articles %}
            <li>{{ article.nom_article }} - {{ article.prix_article }} €</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2>Prestations</h2>
    {% if prestations is empty %}
        <p>Aucune prestation trouvée.</p>
    {% else %}
        <ul>
        {% for prestation in prestations %}
            <li>{{ prestation.nom }} - {{ prestation.prix_prestation }} €</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
